/* Common Styles */
a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    color: white;
}
/* Navbar CSS */
.logo {
    width: 70px;
    height: 60px;
}
.active {
    border-bottom: solid 2px #009E60;
}